---
title: Mentions légales
published: true
slug: mentions-legales
---
{% extends index %}
{% block 'main' %}
%h1
  Mentions légales
{% editable_long_text 'content' %}{% endeditable_long_text %}
{% endblock %}