---
title: Post page
published: true
content_type: posts
---
{% extends 'index' %}
{% block main %}
%h1 {{ post.title }}
{{ post.description }}
%hr
%p
  comments:
%ul
  {% for comment in post.comments %}
  %li
    %strong
      {{comment.name}}
    %br
    {{ comment.description }}
  {% endfor %}
{% endblock %}